# SQL / Database basic questions

1. What is SQL?
- Definition: SQL stands for Structured Query Language. It's a standard language for managing and manipulating relational databases.

2. What is difference between Relational and non-relational database?

- **Relational Database**: Structured, tabular (rows & columns) with predefined schema.
    - Examples: MySQL, PostgreSQL, SQL Server, Oracle.
- **Non-Relational Databases (NoSQL)**:  Flexible, dynamic schema (schema-less or flexible schema), varied models (document, key-value, graph, column-family).
    - Examples: MongoDB (document), Cassandra (column-family), Redis (key-value), Neo4j (graph).

**Database**: A collection of organized data.

**Table**: A fundamental storage unit in a database, consisting of rows and columns.

**Row (Record/Tuple)**: A single entry in a table, representing a complete set of data.

**Column (Field/Attribute)**: A vertical set of data containing values for a specific characteristic (e.g., 'Name', 'Age').

**Primary Key**: A column (or set of columns) that uniquely identifies each row in a table.

**Characteristics**: Must be unique and cannot contain NULL values.

**Foreign Key**: A column (or set of columns) in one table that refers to the primary key in another table. It establishes a link between two tables.

**Purpose**: Enforces referential integrity, ensuring relationships between tables are maintained.

**Normalization**: The process of organizing data in a database to reduce data redundancy and improve data integrity. (Don't need to be an expert, but know the concept).

---

**SQL Commands Categories**:

DDL (Data Definition Language): Used to define, modify, and delete database objects (tables, views, etc.)

1. CREATE DATABASE: Create a new database.

2. CREATE TABLE: Create a new table.

3. ALTER TABLE: Modify an existing table (add/drop columns, change data types).

4. DROP DATABASE: Delete a database.

5. DROP TABLE: Delete a table.

6. TRUNCATE TABLE: Remove all rows from a table, but keep the table structure (faster than DELETE for all rows).

---
DML (Data Manipulation Language): Used for managing data within database objects.

1. INSERT INTO: Add new rows of data into a table.

2. SELECT: Retrieve data from a database (the most frequently used command!).

3. UPDATE: Modify existing data in a table.

4. DELETE FROM: Remove rows of data from a table.

---
DCL (Data Control Language): Used for managing user permissions and access control.

1. GRANT: Give users access privileges.

2. REVOKE: Remove users' access privileges.

---
TCL (Transaction Control Language): Used to manage transactions (a sequence of operations performed as a single logical unit).

1. COMMIT: Save the changes made during a transaction.

2. ROLLBACK: Undo the changes made during a transaction.

3. SAVEPOINT: Set a point within a transaction to which you can later roll back.

---

**Aggregate Functions (Summarizing Data)**

1. COUNT(): Number of rows.

    - COUNT(*): Counts all rows.

    - COUNT(column_name): Counts non-NULL values in a column.

    - COUNT(DISTINCT column_name): Counts unique non-NULL values.

2. SUM(): Sum of values in a numeric column.

3. AVG(): Average of values in a numeric column.

4. MIN(): Minimum value in a column.

5. MAX(): Maximum value in a column.

---

**Grouping Data (GROUP BY and HAVING)**

- **GROUP BY**: Used with aggregate functions to group rows that have the same values in specified columns into summary rows.
    ```
    SELECT Department, AVG(Salary) AS AverageSalary
    FROM Employees
    GROUP BY Department; -- Calculate average salary for each department
    ```

- **HAVING**: Used to filter groups (like WHERE filters rows, HAVING filters groups after GROUP BY).
    ```
    SELECT Department, COUNT(*) AS NumberOfEmployees
    FROM Employees
    GROUP BY Department
    HAVING COUNT(*) > 5; -- Only show departments with more than 5 employees
    ```

- Key Distinction: WHERE filters individual rows before grouping; HAVING filters aggregated groups after grouping.
---

**Joining Tables**

1. **INNER JOIN (or just JOIN)**: Returns rows when there is a match in both tables based on the join condition.
    ```
    SELECT E.FirstName, E.LastName, D.DepartmentName
    FROM Employees E -- Alias for Employees table
    INNER JOIN Departments D ON E.DepartmentID = D.DepartmentID;
    ```

2. **LEFT JOIN (or LEFT OUTER JOIN)**: Returns all rows from the left table, and the matching rows from the right table. If there's no match, NULL values appear for the right table's columns.
    ```
    SELECT C.CustomerName, O.OrderID
    FROM Customers C
    LEFT JOIN Orders O ON C.CustomerID = O.CustomerID;
    ```

3. **RIGHT JOIN (or RIGHT OUTER JOIN)**: Returns all rows from the right table, and the matching rows from the left table. (Less common, usually achievable with a LEFT JOIN and swapping tables).

4. **FULL OUTER JOIN (or FULL JOIN)**: Returns all rows when there is a match in one of the tables. Returns rows from both tables even if they don't have matches in the other table (NULLs where no match). (Not supported in MySQL).

5. **SELF JOIN**: Joining a table to itself. Useful for hierarchical data or comparing rows within the same table.
---

**Subqueries (Nested Queries)**

A query nested inside another SQL query. They can return a single value, a list of values, or a table.

1. **Scalar Subquery (returns a single value)**:
    ```
    SELECT ProductName, Price
    FROM Products
    WHERE Price > (SELECT AVG(Price) FROM Products);
    ```

2. **Column Subquery (returns a list of values)**:
    ```
    SELECT CustomerName
    FROM Customers
    WHERE CustomerID IN (SELECT CustomerID FROM Orders WHERE OrderDate = '2023-07-20');
    ```

3. **Correlated Subquery**: Executes once for each row processed by the outer query. Often less performant than joins but sometimes necessary.
---

**Common Table Expressions (CTEs - WITH clause)**

CTEs improve readability and maintainability for complex queries, especially with multiple joins or subqueries. They are temporary, named result sets.
```
WITH HighSalaryEmployees AS (
    SELECT EmployeeID, FirstName, Salary
    FROM Employees
    WHERE Salary > 70000
)
SELECT FirstName, Salary
FROM HighSalaryEmployees
WHERE EmployeeID IN (SELECT EmployeeID FROM SalesDepartment);
```

---

**Window Functions (Advanced - but increasingly common)**

These perform calculations across a set of table rows that are somehow related to the current row. They don't collapse rows like aggregate functions with `GROUP BY`.

1. `ROW_NUMBER()`: Assigns a unique sequential integer to each row within its partition.

2. `RANK()`: Assigns a rank within its partition, with ties getting the same rank and subsequent ranks skipped.

3. `DENSE_RANK()`: Assigns a rank within its partition, with ties getting the same rank and subsequent ranks being consecutive.

4. `LEAD(), LAG()`: Access data from a subsequent or preceding row in the same result set.

5. `NTILE()`: Divides rows into a specified number of groups.


    ```
    SELECT Salary
    FROM (
        SELECT Salary, DENSE_RANK() OVER (ORDER BY Salary DESC) AS rnk
        FROM Employees
    ) AS RankedSalaries
    WHERE rnk = 2;
    ```

---

**UNION, UNION ALL, INTERSECT, EXCEPT (Set Operations)**

Combine results from multiple SELECT statements.

1. **UNION**: Combines results, removing duplicate rows.

2. **UNION ALL**: Combines results, including duplicate rows.

3. **INTERSECT**: Returns only rows that are present in both result sets. (Not standard in MySQL, use JOIN or IN).

4. **EXCEPT (or MINUS in Oracle)**: Returns rows from the first query that are not present in the second query. (Not standard in MySQL, use LEFT JOIN with WHERE IS NULL).

---

**Indexes (Performance)**

- Definition: Special lookup tables that the database search engine can use to speed up data retrieval.

- Types: Clustered (determines physical order), Non-Clustered.

- When to use: On columns frequently used in WHERE clauses, JOIN conditions, ORDER BY clauses.

- Trade-off: Speed up reads, but slow down writes (INSERT, UPDATE, DELETE) as indexes need to be maintained.

**Transactions (Data Integrity)**

**ACID Properties**:

1. Atomicity: All or nothing. A transaction either completes entirely or doesn't happen at all.

2. Consistency: A transaction brings the database from one valid state to another.

3. Isolation: Concurrent transactions don't interfere with each other.

4. Durability: Once a transaction is committed, its changes are permanent.

Commands: BEGIN TRANSACTION (or START TRANSACTION), COMMIT, ROLLBACK.

---

**Common SQL Interview Questions (and how to approach them)**:

1. "What's the difference between DELETE, TRUNCATE, and DROP?"

    DELETE: DML, removes rows, can be rolled back, slow on large tables, where clause.

    TRUNCATE: DDL, removes all rows, cannot be rolled back, faster, resets identity, no where clause.

    DROP: DDL, removes entire table/database, cannot be rolled back.

2. "Difference between PRIMARY KEY and FOREIGN KEY?" (Refer to definitions above).

3. "Difference between UNION and UNION ALL?" (Refer to definitions above).

4. "Difference between WHERE and HAVING?" (Refer to definitions above).

5. "What are LEFT JOIN and INNER JOIN?" (Refer to definitions above).

6. "How do you find the Nth highest salary?" (Practice with DENSE_RANK(), LIMIT/OFFSET, and subqueries).

7. "Explain normalization." (Explain reducing redundancy and improving integrity).

8. "What are indexes and why are they important?" (Explain speed-up, trade-offs).

9. "Write a query to find employees who earn more than their managers." (Requires a SELF JOIN).

10. "Write a query to get the number of employees in each department." (Requires GROUP BY and COUNT()).

11. "What are ACID properties?" (Define each)